<style>
 body {
   margin:0;
 }
  a {
   color:black;
    text-decoration: none;
  }
  h1 {
    border-bottom: black 2px solid;
    margin:0;
    padding:20px;
    font-size : 300%;
    text-align:center;
  }
  ul {
    border-right: black 2px solid;
    width:200px;
    margin:0;
    padding:20px;
  }
  .saw {
    color:red;
  }
  #grid {
    display:grid;
    grid-template-columns: 300px 1fr;
  }
#grid ul {
  padding-left: 32px;
}
</style>
